<div class="container">
	<div class="row">
		<div class= "col-md-6 col-md-offset-3">

			<h1>Editing Book</h1>
			<%= form_for(@book) do |f| %>
				Title<br>
				<div class="col-xs-12"><%= f.text_field :title %></div><br>
				Opinion<br>
				<div class="col-xs-12"><%= f.text_area :body %></div><br>

				<div class="btn btn-primary col-xs-12"><%= f.submit "Update book" %></div><br>

				<%= link_to "show", book_path(@book.id) %> | 
				<%= link_to "back", books_path %>
			<% end %>
		</div>
		<div class ="col-md-3">
		</div>
	</div>
</div>
