<% if flash[:notice] %>
      <div>
        <%= flash[:notice] %>
      </div>
<% end %>



<%= render 'users/usercommon',user: @user %>
<%= render 'books/bookcommon', book: @book %>
<h1>Book detail</h1>
<p></p>
<table>
	<thead>
		<tr>
			<th>ユーザ情報</th>
			<th>book title</th>
			<th>book opinion</th>
			<th>Edit & Destroy</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>投稿ユーザの画像と名前</td>
			<td><%= @book_detail.title %></td>
			<td><%= @book_detail.body %></td>
			<td><% if @user == current_user %>
				<%= link_to"Edit", edit_book_path %> & <%= link_to"Delete", book_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
					<% end %>
				</td>

		</tr>
	</tbody>
	</table>


