<br><br>
<div class = "container">
	<% if flash[:notice] %>
      <div>
        <%= flash[:notice] %>
      </div>
	<% end %>

	<div class = "row">
		<div class = "col-xs-3">
			<%= render 'users/usercommon', user: @user %>
			<%= render 'books/bookcommon', book: @book %>
		</div>

		<div class = "col-xs-9">
			<h1>Book detail</h1>
			<p></p>
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>投稿ユーザの画像と名前</td>
						<td><<%= @book_detail.title %></td>
						<td><%= @book_detail.body %></td>
						<td><% if @user == current_user %>
							<%= link_to"Edit", edit_book_path, class: "btn-sm btn-success" %>
						</td>
						<td><%= link_to"Destroy", book_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-sm btn-danger"%></td>
								<% end %>
						

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


